.background {
    background-color: var(--mud-palette-background);
}

.palette-secondary {
    background-color: var(--mud-palette-secondary);
    color: var(--mud-palette-secondary-text);
}

.text-gray {
    color: #474A4F
}

.text-lightgray {
    color: #6A6E71
}

.text-limit-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.app-logo {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    max-width: 40%;
    display: block;
}

.text-logo {
    font-family: "Skranji", "Helvetica"
}