@page "/"

<MudContainer MaxWidth="MaxWidth.False">
    <div class="d-flex">
        <MudText Class="mr-2 align-self-center" Color="Color.Primary" Typo="Typo.h4" GutterBottom="false">Dashboard</MudText>
    </div>
</MudContainer>